/*Page and Heading styling*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 12px 5%;
  background-color: #333;
  border-radius:0 0 10px 10px;
}

.logo {
  margin-right: auto;
  color: white;
  text-decoration: none;
}

.navi {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navi li{
  display: inline-block;
  margin: 0 10px;
}

.navi li a{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.navi li a:hover {
  color: #b3cde0;
  transition-duration: 0.5s;
}