/*Page Styling*/

.home_container {
  margin-top: 90px;
  padding: 0 8%;
}

.home_container h1 {
  font-size: 3em;
}

.chart_container {
  margin: 80px 0;
}

.chart_sub_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart{
  padding: 0 10%;
}