<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2D Group 06</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'common.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="navbar_container">
      <a class="logo" href="{{ url_for('index')}}"><h1>2D Project</h1></a>
      <nav>
        <ul class="navi">
          <li><a href="{{ url_for('index')}}">Home</a></li>
          <li><a href="{{ url_for('report')}}">Report</a></li>
          <li><a href="{{ url_for('graph')}}">Graph</a></li>
        </ul>
      </nav>
    </header>
    <div class="home_container">
      <h1>Hello!</h1>
      <div class="home_subcontainer">
        <div class="sub_left">
          <p>We are group 06 from cohort 06.</p>
          <h2>How this website works</h2>
          <br/>
          <h3><a href="{{ url_for('report') }}">Report page</a></h3>
          <p>Report page shows our report of our 2D project.</p>
          <h3><a href="{{ url_for('graph') }}">Graph page</a></h3>
          <p>Graph page shows our report of our 2D project. <a href="https://www.chartjs.org/">Chart.js</a> was used in the making of graphs on the graph page.</p>    
          <p>You are also able to filter the variables by clicking the variables under Legend and hover over the points to see the value of that particular point.</p>      
        </div>
        <div style="text-align: center;" class="sub_right">
          <h2>Members:</h2>
          <p>Boey Sze Min, Jeanelle 1006037</p>
          <p>Joash Tan Jia Le 1005862</p>
          <p>Keith Chua Dian-Xun 1005880</p>
          <p>Wong Wei Jin Justin 1006001</p>
        </div>
      </div>
    </div>
  </body>
</html>