<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2D Group 06</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'report.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'common.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="navbar_container">
      <a class="logo" href="{{ url_for('index')}}"><h1>2D Project</h1></a>
      <nav>
        <ul class="navi">
          <li><a href="{{ url_for('index')}}">Home</a></li>
          <li><a href="{{ url_for('report')}}">Report</a></li>
          <li><a href="{{ url_for('graph')}}">Graph</a></li>
        </ul>
      </nav>
    </header>
    <!--Main Introduction to Food Security-->
    <div class="report_container">
      <div class="report_container_header">
        <h1>Food Security</h1>
        <p>According to the United Nations' (UN) Committee on World Food Security,
          food security is defined as people, "at all times", having <b>"Physical, Social, and Economic"</b>
          access to <b>"sufficient, safe and nutritious food"</b> that meets their "dietary needs
          for an <b>active and healthy</b> life"
          <a href="https://www.un.org/waterforlifedecade/food_security.shtml">
            (FAO, 1996)
          </a>
          .
        </p>
    </div>
    <!--Project Outline-->
    <div class="report_subcontainer">
      <h2>Project</h2>
        <p>In line with the definition of Food security provided by UN, we have decided to
          find out how</p>
          <ul>
            <li><b>Physical Factors</b></li>
            <li><b>Social Factors</b></li>
            <li><b>Economic Factors</b></li>
          </ul>
        <p>
          have affected the <b>dietary requirements for an active and healthy lifestyle</b> of the population of each country.
        </p>
      </br>
        <p>
          As a result, we have come up with the following problem statement: 
          <b>“How might we predict whether the dietary needs for individuals are met for each country, 
          considering a country’s economy, and its citizen’s social and physical environment?”</b>
        </p>
    </div>
    <!--Economic Factors-->
    <div class="report_subcontainer">
      <h2>Economic Factors</h2>
        <p>We define <b>Economic Factors</b> as factors that is due to the state of the economy around the world, uncontrollable by individuals.</p>
      <ul>
        <li>
          <h3>Percentage of population employed in agriculture, forestry, and fishing in <u>percent</u></h3>
          <p>
            We believe that the greater the percentage of population allocated to agriculture, 
            the higher the production of crops. This allows greater harvest and higher self-sufficiency on local supply of food which results in a <b>greater access to 
            food domestically</b> <a href="https://agricultureandfoodsecurity.biomedcentral.com/articles/10.1186/2048-7010-2-10 ">(Bishwajit, G., 2013)</a>. 
          </p>
        </li>
        <li>
          <h3>Gross Domestic Product per capita, adjusted for PPP in <u>USD per capita</u></h3>
          <p>An increase in GDP per capita leads to an increase in purchasing power of individuals. 
            This makes food more affordable to the individual and increasing his access to food <a href="https://potravinarstvo.com/journal1/index.php/potravinarstvo/article/view/1734/2073">(Fernandes, M. & Samputra, P., 2022)</a>. 
            Hence, we will focus on GDP per capita as our economic factor and see how this <b>affects food security in general.</b> 
          </p>
        </li>
      </ul>
    </div>
    <!--Physical Factors-->
    <div class="report_subcontainer">
      <h2>Physical Factors</h2>
        <p>We define <b>physical factors</b> as individuals having 
          a small portion of control over these factors; of which we have two factors.
        </p>
      <ul>
        <li>
          <h3>Percentage of population having eating disorders in <u>percent</u></h3>
          <p>There are four types of eating disorders, of which some result in overconsumption while others lead to underconsumption of food
          <a href="https://www.aware.org.sg/information/eating-disorders/" >(AWARESG, n.d.)</a>
          . However, our main concern here is that food security not just about the physical means of being able to consume food but the mental 
          means as well. Eating disorders can affect individuals having a mental "insecurity" with food which results in an <b>unhealthy</b> lifestyle.
          </p>
        </li>
        <li>
          <h3>Land used for agriculture per capita in <u>km<sup>2</sup> per capita</u></h3>
          <p>A greater agricultural land per capita ratio suggests that more land is allocated to grow crops per person. 
            “Agriculture provides the largest share of food supplies” <a href="https://www.sciencedirect.com/science/article/pii/S004896972105796X?via%3Dihub">(M. Viana, C., 2021)</a>, thus it is safe to say that the greater 
            land per capita, the greater the increase in agriculture food production and security allowing <b>more access to food</b>. 
          </p>
        </li>
      </ul>
    </div>
    <!--Social Factors-->
    <div class="report_subcontainer">
      <h2>Social Factors</h2>
        <p>We define <b>Social Factors</b> as individuals not being able to control these factors; of which we have 2 factors.</p>
      <ul>
        <li>
          <h3>Percentage of population having access to basic drinking water services in <u>percent</u></h3>
          <p>
            Water is essential to food security <a href="https://www.un.org/waterforlifedecade/food_security.shtml">(United Nations, n.d.)</a>.
            Water is used in many ways to ensure food security; from growing crops, to cleaning and cooking food. Hence, we have also considered the 
            relationship between access to basic drink water relates and <b>access to sufficient, safe, and nutritious food</b>.
          </p>
        </li>
        <li>
          <h3>Carbon Dioxide (CO<sub>2</sub>) emitted per agricultural land area in <u>Million Metric Tons(MMT)/km<sup>2</sup></u></h3>
          <p>CO<sub>2</sub> increases rate of photosynthesis hence increasing crop yields. CO<sub>2</sub> also allows plants to “accumulate more carbohydrates” 
            <a href="https://www.thelancet.com/journals/lanplh/article/PIIS2542-5196(19)30108-	1/fulltext#%20">(L. Ebi, K., 2019)</a>, increasing calorie yield, which aligns with our model since we are focusing on calories per capita per day. Considering 
            the nutritional requirements of individuals, this factor gives us insight on how the <b>access to sufficient and nutritious food increases food security</b>. 
          </p>
        </li>
      </ul>
    </div>
    <!--Y value-->
    <div class="report_subcontainer">
      <h2>Dependent Value</h2>
        <h3>Ratio of average calories provided in <u>kcal per capita per day</u> to average calorie requirements per capita per day <u>in kcal per capita per day</u></h3>
          <p style="padding-top: 10px;">To measure food security, more specifically the dietary needs for an active and healthy life, we will be calculating it using the 
            ratio of average calories supplied per individual per day over the average calorie requirement per individual per day. A higher ratio is indicative of greater 
            food security, and vice versa. However, we note that the average calories supplied is not indicative of the calories that are consumed and realistically shows 
            the calories that are available for consumption on a retail level <a href="https://ourworldindata.org/food-supply">(Roser, M., 2013)</a>.
          </p>
    </div>
    <div class="report_subcontainer">
      <h2>Persona</h2>
      <ul>
        <li>
          <h3>Persona 1</h3>
          <p>A food security analyst working for a government agency. He/She helps to inform policymakers and 
            requires a model to predict the level of food security of the country in the next few years, given the current data.</p>
        </li>
        <li>
          <h3>Persona 2</h3>
          <p>A member of international organisations such as the Food and Agriculture Organisation. 
            He/She aims to “improve nutrition, increase agricultural productivity, raise the standard of living in rural populations” on a global scale, 
            and they need a model to predict the data for each factor such that food security is achieved, or a model to measure how long it might take for a country to attain a desirable level of food security.</p>
        </li>
        <li>
          <h3>Persona 3</h3>
          <p>A decision-maker in a Non-Profit Organisation, which focuses their efforts on countries that require the most aid. He/She requires a model to identify countries of concern in both present and future.</p>
        </li>
      </ul>
      <br/>
      <p>Keeping the needs of our personas in mind, we aim to come up with a model that helps them to predict the level of food security of a country using the 6 factors.</p>
    </div>
    <!--first model-->
    <div class="report_subcontainer">
      <h2>1<sup>st</sup> Model</h2>
      <ul>
        <li>
          <h3>Independent variables:</h3>
          <ul>
            <li>GDP per capita, adjusted for PPP (USD)</li>
            <li>Agricultural land per capita (km<sup>2</sup> per capita)</li>
            <li>Percentage of population with basic water service (%)</li>
            <li>Percentage of population with eating disorder (%)</li>
            <li>Percentage of population employed in agriculture, forestry and fishery (%)</li>
            <li>CO<sub>2</sub> emitted per agricultural land area (kg/m<sup>2</sup>)</li>
          </ul>
        </li>
        <li>
          <h3>Dependent variable:</h3>
          <ul>
            <li>Y ratio</li>
          </ul>
        </li>
      </ul>
    </div>
    <!--second model-->
    <div class="report_subcontainer">
      <h2>2<sup>nd</sup> Model</h2>
      <ul>
        <li>
          <h3>Independent variables:</h3>
          <ul>
            <li>GDP per capita, adjusted for PPP (USD)</li>
            <li>Agricultural land per capita (km<sup>2</sup> per capita)</li>
            <li>Percentage of population with basic water service (%)</li>
            <li>Percentage of population with eating disorder (%)</li>
            <li>Percentage of population employed in agriculture, forestry and fishery (%)</li>
            <li>CO<sub>2</sub> emitted per agricultural land area (kg/m<sup>2</sup>)</li>
          </ul>
        </li>
        <li>
          <h3>Dependent variable:</h3>
          <ul>
            <li>Percentage of population with Undernourishment (%)</li>
          </ul>
        </li>
      </ul>
    </div>
    <!--third model-->
    <div class="report_subcontainer">
      <h2>3<sup>rd</sup> Model</h2>
      <ul>
        <li>
          <h3>Independent variables:</h3>
          <ul>
            <li>GDP per capita, adjusted for PPP (USD)</li>
            <li>Percentage of population with basic water service (%)</li>
            <li>Percentage of population with eating disorder (%)</li>
            <li>Percentage of population employed in agriculture, forestry and fishery (%)</li>
            <li>Amount of fat supplied (g/capita day)</li>
            <li>Amount of protein supplied (g/capita day)</li>
            <li>Amount of carbohydrate supplied (g/capita day)</li>
          </ul>
        </li>
        <li>
          <h3>Dependent variable:</h3>
          <ul>
            <li>Y ratio</li>
          </ul>
        </li>
      </ul>
    </div>
    <!--conclusion-->
    <div class="report_subcontainer">
      <h2>Conclusion</h2>
      <p>We have attempted to model food security via 3 iterations/models. When we changed the dependent variable in Model 2, we found that the correlation between independent and dependent variables worsened as compared to Model 1. We decided to keep the y ratio in Model 3 instead.</p>
    </div>
  </body>
</html>